<div class="breafing" id="div-information" [@flyInOut]>
  <h2>Key skills:</h2>
  <h3>Black box testing;</h3> 
  <h3>Test Automation in TestComplete, Katalon, JMeter, eLeed (C#, JS, Python);</h3> 
  <h3>Data Bases (MS SQL, PgSQL);</h3> 
  <h3>Development tools (Jira, Git, SVN, TeamCity;</h3> 
  <h3>


HTML
CSS
Angular TypeScript</h3> 

<div style="border:none z-index:5">
  <div id="share" (click)="OpenFB()" title="Поделиться FB" style="background-image:url(https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/fb_icon_325x325.png)"></div>
  <div id="share" (click)="OpenVK()" title="Поделиться VK" style="background-image:url(https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/vk.png)"></div>
  <div id="share" (click)="OpenOK()" title="Поделиться OK" style="background-image:url(https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/OK2.png)"></div> 
  <div id="share" (click)="OpenTelegram()" title="Поделиться Telegram" style="background-image:url(https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/telegram-logo-1.jpg)"></div>  
  <div id="share" (click)="OpenWhatsApp()" title="Поделиться WhatsApp" style="background-image:url(https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/app-share.png)"></div>   
</div>

</div>
<app-our-team></app-our-team>