  <div id="team-mate" *ngFor="let teamMember of teamMembers" [@divTrigger]>
    <h3>{{teamMember.name}}</h3>
    <div id="picture-container">
    <img id="my_photo" (click)="changePhoto()" src={{teamMember.photo}} alt={{teamMember.photo_description}}>
    <button id='button-detailes' type="button" routerLink="/detailes" (click)="activateBtn('details')" [@btnTrigger]="getActiveBtn()=='details' ? 'activated' : 'deactivated'">More information</button>
    </div>
    <p>{{teamMember.about}}</p>
  </div>
