/* Global Styles */

* {
  font-family: 'Julius Sans One', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #ffffff;
  background-image: url("https://cdn.jsdelivr.net/gh/Erik19852404/my-web-site@master/src/assets/images/my-picture.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

router-outlet + *  {
  padding: 0 16px;
}

input {
  font-size: 2vh;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid rgb(255, 251, 251);
}

label {
  font-size: 2vh;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-block;
  padding: 1vh 2vh 1vh 2vh;
  font-size: 1.6vh; 
  color: #000000; 
  background-image: url("https://cdn.jsdelivr.net/gh/Erik19852404/my-web-site@master/src/assets/images/btn.jpg");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  border-radius: 12px;
  font-family: 'Julius Sans One', sans-serif; 
  margin: 0 0 24px; 
  text-shadow: 1px 1px 1px #924803;
  line-height: 10px; 
  text-align: center;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
  max-height: 9vh;
  min-height: 2vh;
}

.button:hover, button:hover {
  font-weight: bolder;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

app-top-bar {
  cursor: pointer;
}

h1 { 
  font-size: 4vh;
  color: rgb(0, 0, 0);  
  font-family: 'Rouge Script', cursive; 
  font-weight: normal; 
  text-align: center; 
  text-shadow: 2px 2px 4px #ffffff; 
}

h2 {
  font-size: 2.5vh;
}

h3 {
  font-size: 2vh;
}

h1, h2 {
  font-weight: lighter;
}

h2, h3 { 
  color: rgb(0, 0, 0);   
  font-family: 'Julius Sans One', sans-serif; 
  font-weight: bold;  
  text-shadow: 1px 1px 1px #ffffff; 
}

p, li { 
  color: rgb(0, 0, 0);  
  font-family: 'Carme', sans-serif; 
  line-height: 3vh; 
  margin: 0 0 0px; 
  font-size: 1.52vh;
  font-weight: bold;
}

a { 
  text-decoration: underline; 
  cursor: pointer;
  color: #1976d2;
  opacity: 1;
}

a:hover { 
  color: #10b5df; 
  text-decoration: underline;
  opacity: 0,9;
  font-weight: bold;
}

div {
  background-color: rgb(218, 198, 175);
  border: 0.1vh solid transparent;
  border-color: rgb(7, 7, 7);
  border-radius: 2%;
  opacity: 0.95;
}

.content{
  height: 100%;
  margin: 1vh 1vh 1vh 1vh;
  padding: 1vh 1vh 1vh 1vh;  
  max-width: 100%;
}

.breafing {
  height: 100%;
  margin: 3vh 1vh 0 1vh;
  padding: 1vh 0.5vh 1vh 2vh;  
  float:left;
  width: 50%;
}

.container {
  display: flex;
  flex-direction: row;
}

#animated-picture {
  width: 20vh;
  height: 20vh;
  position: fixed;
  top: 55vh;
  left: 1%;
  background: none;
  border: none;
  opacity: 1;
  z-index: 5;
  animation: animated-picture-rotate 20s linear infinite;
}

@keyframes animated-picture-rotate{
    0%{
      transform: rotate(0deg);
      position: fixed;
      top: 78vh;
      left: -30%;
    }

    50% {
      transform: rotate(720deg);
      position: fixed;
      top: 68vh;
      left: 50%;
      filter: invert(100%);
    }

    100%{
      transform: rotate(1480deg);
      position: fixed;
      top: 78vh;
      left: 130%;
    }
}