div {
  display: flex;
  background-size: 100% 100%;
  border: none;
}

#sky {
	overflow: hidden;  
}

#stars {  
	width: 120%;
	height: 17vh;
  border: none;
  padding: 1vh;
  opacity: 0.95;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
}

#text {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  justify-content: center;
  position: absolete;
  animation: movingtext 60s linear infinite;
}
